/* ========================================================================================== */
/* ============================== The Globel Rles ============================== */
/* ========================================================================================== */
:root {
  --mian-duration: 0.5s;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: hsl(0, 0%, 100%);
  background: hsl(228, 10%, 10%);
  font: 300 1em "Fira Sans", sans-serif;
  min-height: 100vh;
  /* Center EveryThing */
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  font-weight: 400;
}
code {
  color: hsl(49, 72%, 62%);
  font: inherit;
}
button {
  color: var(--color);
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  transition: var(--mian-duration);
  padding: 1em 2em;
  margin: 0.5em;
}
button:hover,
button:focus {
  border-color: var(--hover);
  color: hsl(0, 0%, 100%);
}
/* ========================================================================================== */
/* ============================== The Fill Up Button ============================== */
/* ========================================================================================== */
.up {
  --color: hsl(277, 46%, 62%);
  --hover: hsl(322, 46%, 62%);
}
.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}
/* ========================================================================================== */
/* ============================== The Fill In Button ============================== */
/* ========================================================================================== */
.fill {
  --color: hsl(330, 80%, 68%);
  --hover: hsl(15, 80%, 68%);
}
.fill:hover,
.fill:focus {
  box-shadow: inset 0 0 0 2em var(--hover);
}
/* ========================================================================================== */
/* ============================== The Slide Button ============================== */
/* ========================================================================================== */
.slide {
  --color: hsl(359, 100%, 75%);
  --hover: hsl(44, 100%, 75%);
}
.slide:hover,
.slide:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}
/* ========================================================================================== */
/* ============================== The Close Button ============================== */
/* ========================================================================================== */
.close {
  --color: hsl(25, 100%, 69%);
  --hover: hsl(70, 100%, 69%);
}
.close:hover,
.close:focus {
  box-shadow: inset -3.5em 0 0 0 var(--hover), inset 3.5em 0 0 0 var(--hover);
}
/* ========================================================================================== */
/* ============================== The Pulse Button ============================== */
/* ========================================================================================== */
.pulse {
  --color: hsl(49, 72%, 62%);
  --hover: hsl(94, 72%, 62%);
}
.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}
/* ========================================================================================== */
/* ============================== The Raise Button ============================== */
/* ========================================================================================== */
.raise {
  --color: hsl(95, 47%, 59%);
  --hover: hsl(140, 47%, 59%);
}
.raise:hover,
.raise:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}
/* ========================================================================================== */
/* ============================== The Offset Button ============================== */
/* ========================================================================================== */
.offset {
  --color: hsl(162, 77%, 42%);
  --hover: hsl(207, 77%, 42%);
}
.offset {
  box-shadow: 0.3em 0.3em 0 0 var(--color), inset 0.3em 0.3em 0 0 var(--color);
}
.offset:hover,
.offset:focus {
  box-shadow: 0 0 0 0 var(--hover), inset 6em 3.5em 0 0 var(--hover);
}
