/* ========================================================================================== */
/* ============================== The Varables ============================== */
/* ========================================================================================== */
:root {
  --main-color: hsl(200, 75%, 60%);
  --hover-color: hsl(200, 60%, 75%);
  --main-duration: 0.7s;
}
/* ========================================================================================== */
/* ============================== The Rlobel Rules ============================== */
/* ========================================================================================== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: hsl(200, 90%, 45%);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ========================================================================================== */
/* ============================== The Text Pop ============================== */
/* ========================================================================================== */
h1 {
  color: var(--main-color);
  transition: text-shadow var(--main-duration), transform var(--main-duration);
}
h1:hover {
  text-shadow: -1px 0 var(--hover-color), -2px 0 var(--hover-color);
  transform: translateX(2px);
}
