:root {
  --main-duration: 0.5s;
  --main-color: hsl(0, 0%, 20%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
nav {
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  position: relative;
}
nav ul li {
  text-align: center;
  list-style: none;
}
nav ul li a {
  color: var(--main-color);
  border-radius: 5px;
  font-size: 3em;
  font-weight: 700;
  text-decoration: none;
  padding: 5px 20px;
  transition: var(--main-duration);
  display: inline-block;
}
nav ul:hover li a {
  color: hsla(0, 0%, 0%, 0.13);
}
nav ul li:hover a {
  color: hsl(0, 0%, 0%);
  background: hsl(0, 0%, 100%);
}
nav ul li a::before {
  content: "";
  color: hsla(0, 0%, 0%, 0.1);
  opacity: 0;
  border-radius: 50%;
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 500px;
  transition: letter-spacing var(--main-duration);
  width: 1800px;
  height: 1800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}
nav ul li a:hover::before {
  content: attr(data-text);
  opacity: 1;
  letter-spacing: 10px;
}
nav ul li:nth-child(1) a::before {
  background: hsl(180, 74%, 72%);
}
nav ul li:nth-child(2) a::before {
  background: hsl(0, 100%, 73%);
}
nav ul li:nth-child(3) a::before {
  background: hsl(163, 83%, 64%);
}
nav ul li:nth-child(4) a::before {
  background: hsl(244, 98%, 80%);
}
nav ul li:nth-child(5) a::before {
  background: hsl(339, 97%, 73%);
}
nav ul li:nth-child(6) a::before {
  background: hsl(46, 100%, 83%);
}
