/* 
---------------------------------------------
Variables
--------------------------------------------- 
*/
:root {
  --check-color: hsl(0, 0%, 100%);
  --cloes-color: hsl(0, 100%, 50%);
  --cloes-shadow-color: hsla(0, 100%, 50%, 0.4);
  --open-color: hsl(120, 95%, 38%);
  --open-shadow-color: hsl(120, 95%, 38%, 0.4);
  --main-transition-duration: 0.5s;
}
/* 
---------------------------------------------
Gloabl Rules
--------------------------------------------- 
*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
---------------------------------------------
Label
--------------------------------------------- 
*/
label {
  cursor: pointer;
  width: 160px;
  height: 80px;
  position: relative;
}
/*
---------------------------------------------
Input
--------------------------------------------- 
*/
label input {
  appearance: none;
  position: relative;
  z-index: 1;
}
/*
---------------------------------------------
Span
--------------------------------------------- 
*/
label span {
  background: var(--cloes-color);
  border-radius: 80px;
  box-shadow: 0 15px 25px var(--cloes-shadow-color);
  transition: var(--main-transition-duration);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
label input:checked ~ span {
  background: var(--open-color);
  box-shadow: 0 15px 25px var(--open-shadow-color);
}
/* 
---------------------------------------------
I
--------------------------------------------- 
*/
label span i {
  background: var(--check-color);
  border-radius: 50px;
  transition: var(--main-transition-duration);
  width: 72px;
  height: 72px;
  position: absolute;
  top: 4px;
  left: 4px;
}
label input:checked ~ span i {
  left: 84px;
}
/* 
---------------------------------------------
I Before
--------------------------------------------- 
*/
label span i::before {
  content: "";
  background: var(--cloes-color);
  border-radius: 50%;
  box-shadow: 35px 0 var(--cloes-color);
  transition: var(--main-transition-duration);
  width: 12px;
  height: 12px;
  position: absolute;
  top: 22px;
  left: 12px;
}
label input:checked ~ span i::before {
  background: var(--open-color);
  box-shadow: 35px 0 var(--open-color);
}
/* 
---------------------------------------------
I After
--------------------------------------------- 
*/
label span i::after {
  content: "";
  background: var(--cloes-color);
  border-radius: 6px;
  transition: var(--main-transition-duration);
  width: 30px;
  height: 6px;
  position: absolute;
  bottom: 15px;
  left: calc(50% - 15px);
}
label input:checked ~ span i::after {
  background: var(--open-color);
  border-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 15px;
  bottom: 12px;
}
